<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.blogspot.mstachniuk.android.db4o">
    <application>
         <activity android:name=".activity.MainActivity" android:label="Db4o on Android Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CreateNewUserActivity" android:label="Create New User" />
        <activity android:name=".activity.LoginActivity" android:label="Login" />
        <activity android:name=".activity.AfterLoginActivity" android:label="After Login" />
    </application>
</manifest>
